body{
    background-color: rgb(233, 190, 190);
}
.topbar{
    text-align: center;
    font-family: fantasy;
    color:red

}
.active{
    font-size:24px;
    text-align: center;
    padding: 14px 16px;

}
.topbar a:hover {
    background-color: #ddd;
    color: black;
  }
.topbar a:visited{
    color:red;
}
.title{
    text-align: center;
}
.csm-grinston{
    display:block;
    max-width: 70%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.center_of_pic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: fantasy;
    color:white
}
.text{
    text-align: center;
    font-family: monospace;
    font-size: 24px;
}
.changingPic{
    display:block;
    max-width: 20%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    object-position: -200% 0;
}
.button:hover{
    background-color: purple;
}
.button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-family: fantasy;
    cursor: pointer;

}